<div class="col-12 col-sm-6 col-md-4 h-100">
  <article class="productCard card mt-2">
    <a href="/products/<%= products.id %>">
      <h4 class="card-title"><%= product.productName %></h4>
    </a>
    <a href="/products/<%= product.id %>"
      ><img
        class="imgMain card-img-top img-fluid"
        src="../img/productos/<%= product.image %> "
        alt="<%= product.productName %> "
    /></a>

    <div class="card-body h-30">
      <p class="description">
        <%= product.description %>
      </p>
      <p class="price">$<%= product.price %></p>
      <button class="btn btn-pink btn-block m-1">
        Agregar a la wishlist
      </button>
      <button class="btn btn-pink btn-block m-1">
        Agregar al carrito
      </button>
    </div>
  </article>
</div>
