<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head") %>
  <link rel="stylesheet" href="/css/index.css" />

  <title>Make.u</title>
</head>

<body>
  <!-- Header -->
  <%- include('partials/header') %>
  <!-- /Header -->



  <main>
    <!-- Banner principal -->
    <%- include('partials/benefits') %>
    <!-- /Banner Principal -->

    <!-- Submenu de seccion -->
    <div class="container sub-menu-index">
      <div class="row m-0">
        <div class="col-3 d-flex justify-content-center">
          <a href="/rostro">
            <button type="button" class="btn btn-link" title="Rostro">
              <img class="img-icon" src="/img/rostro-icon.png" alt="" />
            </button>
          </a>
        </div>
        <div class="col-3 d-flex justify-content-center">
          <a href="/labios">
            <button type="button" class="btn btn-link" title="Labios">
              <img class="img-icon" src="/img/labios-icon.png" alt="" />
            </button>
          </a>
        </div>
        <div class="col-3 d-flex justify-content-center">
          <a href="/ojos">
            <button type="button" class="btn btn-link" title="Ojos">
              <img class="img-icon" src="/img/ojos-icon.png" alt="" />
            </button>
          </a>
        </div>
        <div class="col-3 d-flex justify-content-center">
          <a href="/cejas">
            <button type="button" class="btn btn-link" title="Cejas">
              <img class="img-icon" src="/img/cejas-icon.png" alt="" />
            </button>
          </a>
        </div>
      </div>
    </div>
    <!-- /Submenu de seccion -->

    <!-- Container impar -->
    <div class="container-fluid section-odd">
      <div class="row">
        <div class="col-12 padding-category">
          <h2 class="category">Ojos</h2>
          <a href="/ojos" class="btn-todos">
            <p class="ver-todos">Ver todos</p>
          </a>
        </div>
      </div>

      <div class="row margin-row">
        <% for (let i= 0; i<4; i++) { %>
        <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center pepito">
          <article class="article-odd hover-odd">
            <a href="/products/<%= ojos[i].id %>">
              <img class="img-product d-flex align-items-center justify-content-center"
                src="/img/products/<%= ojos[i].images[0].route%>" alt="" />
              <h5 class="d-flex justify-content-center name-product">
                <%= ojos[i].name %>
              </h5>
              <p class="d-flex justify-content-center price-product">
                <span class="price-symbol"><%= toThousand(ojos[i].price) %></span>
              </p>
            </a>
          </article>
        </div>
        <% } %>
      </div>
    </div>
    <!-- /Container impar -->

    <!-- Container par -->
    <div class="container-fluid section-even">
      <div class="row">
        <div class="col-12 padding-category">
          <h2 class="category-even">Labios</h2>
          <a href="/labios" class="btn-todos">
            <p class="ver-todos-even">Ver todos</p>
          </a>
        </div>
      </div>

      <div class="row margin-row">
        <% for (let i= 0; i<4; i++) { %>
        <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
          <article class="article-even hover-odd">
            <a href="/products/<%= labios[i].id %>">
              <img class="img-product d-flex align-items-center justify-content-center"
                src="/img/products/<%= labios[i].images[0].route %>" alt="" />
              <h5 class="d-flex justify-content-center name-product">
                <%= labios[i].name %>
              </h5>
              <p class="d-flex justify-content-center price-product">
                <span class="price-symbol"><%= toThousand(labios[i].price) %></span>
              </p>
            </a>
          </article>
        </div>
        <% } %>
      </div>
    </div>
    <!-- /Container par -->

    <!-- container impar -->
    <div class="container-fluid section-odd">
      <div class="row">
        <div class="col-12 padding-category">
          <h2 class="category">Cejas</h2>
          <a href="/cejas" class="btn-todos">
            <p class="ver-todos">Ver todos</p>
          </a>
        </div>
      </div>

      <div class="row margin-row">
        <% for (let i= 0; i<4; i++) { %>
        <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
          <article class="article-odd hover-odd">
            <a href="/products/<%= cejas[i].id %>">
              <img class="img-product d-flex align-items-center justify-content-center"
                src="/img/products/<%= cejas[i].images[0].route %>" alt="" />
              <h5 class="d-flex justify-content-center name-product">
                <%= cejas[i].name %>
              </h5>
              <p class="d-flex justify-content-center price-product">
                <span class="price-symbol"><%= toThousand(cejas[i].price) %></span>
              </p>
            </a>
          </article>
        </div>
        <% } %>
      </div>
    </div>
    <!-- /Container impar -->

    <!-- Container par -->
    <div class="container-fluid section-even">
      <div class="row">
        <div class="col-12 padding-category">
          <h2 class="category-even">Rostro</h2>
          <a href="/rostro" class="btn-todos">
            <p class="ver-todos-even">Ver todos</p>
          </a>
        </div>
      </div>

      <div class="row margin-row">
        <% for (let i= 0; i<4; i++) { %>
        <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
          <article class="article-even hover-odd">
            <a href="/products/<%= rostro[i].id %>" class="hover-even">
              <img class="img-product d-flex align-items-center justify-content-center"
                src="/img/products/<%= rostro[i].images[0].route %>" alt="" />
              <h5 class="d-flex justify-content-center name-product">
                <%= rostro[i].name %>
              </h5>
              <p class="d-flex justify-content-center price-product">
                <span class="price-symbol"><%= toThousand(rostro[i].price) %></span>
              </p>
            </a>
          </article>
        </div>
        <% } %>
      </div>
    </div>
    <!-- /Container par -->

    <!-- Pre-Footer -->
    <%- include("partials/pre-footer") %>
    <!-- /Pre-Footer -->
  </main>

  <!-- Footer -->
  <%- include("partials/footer") %>
  <!-- /Footer -->
</body>

</html>