<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/productAdd.css" />
    <link rel="stylesheet" href="/css/myProducts.css">
    <link rel="stylesheet" href="/css/section.css">

    <title>Make.u | Mis Productos</title>
</head>

<body>
    <%- include('partials/header') %>

    <!-- Navbar -->
    <%- include('partials/nav-user') %>
    <!-- /Navbar -->

    <main class="container mt-1">
        <div>
            <h2 id="title">Mis Productos</h2>
            <% if (products == []) { %>
            <p>Aún no tenés ningún producto para vender. Hacé clic en "Crear Producto" para subir uno!</p>
            <% } %>
        </div>

        <div class="row vh-75">
            <% for( product of products ) { %>
            <div class="col-12 col-sm-6 col-md-4 h-100">
                <article class="productCard card mt-2 hover-product-card-section">
                    <a href="/products/<%= product.id %>" class="anchor-title-section titulo-efecto">
                        <h4 class="card-title titulo-efecto">
                            <%= product.name %>
                        </h4>
                    </a>
                    <a href="/products/<%= product.id %>" class="d-flex justify-content-center">
                        <% if (product.images.length > 0) { %>
                        <img class="imgMain card-img-top img-fluid img "
                            src="/img/products/<%= product.images[0].route%>" alt="<%= product.name %>" />
                        <% } else { %>
                        <img class="imgMain card-img-top img-fluid"
                            src="https://amp.ampifyme.com/no_image_placeholder.png" alt="">
                        <% } %>
                    </a>

                    <div class="card-body h-30">
                        <p class="description ajuste-descripcion">
                            <%= product.description %>
                        </p>
                        <p class="price">$
                            <%= toThousand(product.price) %>
                        </p>
                        <a class="no-underline" href="/products/edit/<%= product.id %> "><button
                                class="btn btn-pink btn-block m-1">
                                Editar
                            </button></a>
                    </div>
                </article>
            </div>
            <% } %>

        </div>
    </main>
    <%- include("partials/footer") %>
</body>

</html>