<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/section.css" />
    <title>Make.u | Mis Productos</title>
</head>

<body>
    <%- include('partials/header') %>

    <div class="row">
        <div class="col-12 margin-menu">
            <nav class="nav">
                <a href="/users/admin"><button type="button" class="btn btn-primary btn-sm mg-btn">
                        Inicio
                    </button></a>
                <a href="/products/create"><button type="button" class="btn btn-primary btn-sm mg-btn">
                        Agregar producto
                    </button></a>
                <a href="/users/myProducts"><button type="button" class="btn btn-primary btn-sm mg-btn">
                        Mis Productos
                    </button></a>
            </nav>
        </div>
    </div>

    <main class="container mt-1">
        <div class="row vh-75">
            <% for( product of products ) { %>
            <div class="col-12 col-sm-6 col-md-4 h-100">
                <article class="productCard card mt-2">
                    <a href="/products/<%= product.id %>">
                        <h4 class="card-title"><%= product.name %></h4>
                    </a>
                    <a href="/products/<%= product.id %>"><img class="imgMain card-img-top img-fluid"
                            src="../img/productos/<%= product.image %> " alt="<%= product.name %> " /></a>

                    <div class="card-body h-30">
                        <p class="description">
                            <%= product.description %>
                        </p>
                        <p class="price">$<%= product.price %></p>
                        <a href="/products/edit/<%= product.id %> "><button class="btn btn-pink btn-block m-1">
                                Editar
                        </button></a>
                    </div>
                </article>
            </div>
            <% } %>

        </div>
    </main>
    <%- include("partials/footer") %>
</body>

</html>