<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/productAdd.css" />
    <title>Make.u | Mis Productos</title>
</head>

<body>
    <%- include('partials/header') %>

    <!-- Navbar -->
    <%- include('partials/nav-user') %>
    <!-- /Navbar -->

    <main class="container mt-1">
        <div>
            <h2 id="title">Mis Productos</h2>
            <% if (products == []) { %>
            <p>Aún no tenés ningún producto para vender. Hacé clic en "Crear Producto" para subir uno!</p>
            <% } %>
        </div>

        <div class="row vh-75">
            <% for( product of products ) { %>
            <div class="col-12 col-sm-6 col-md-4 h-100">
                <article class="productCard card mt-2">
                    <a href="/products/<%= product.id %>">
                        <h4 class="card-title"><%= product.name %></h4>
                    </a>
                    <a href="/products/<%= product.id %>">
                        <% if (product.images.length > 0) { %>
                        <img class="imgMain card-img-top img-fluid" src="/img/products/<%= product.images[0].route%>"
                            alt="<%= product.name %>" />
                        <% } else { %>
                        <img class="imgMain card-img-top img-fluid" src="https://place-hold.it/500x500" alt="">
                        <% } %>
                    </a>

                    <div class="card-body h-30">
                        <p class="description">
                            <%= product.description %>
                        </p>
                        <p class="price">$<%= product.price %></p>
                        <a href="/products/edit/<%= product.id %> "><button class="btn btn-pink btn-block m-1">
                                Editar
                            </button></a>
                    </div>
                </article>
            </div>
            <% } %>

        </div>
    </main>
    <%- include("partials/footer") %>
</body>

</html>