<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head") %>
  <link rel="stylesheet" href="/css/productAdd.css" />
  <script defer src="/js/productValidator.js"></script>
  <title>Make.u | Agregar Producto</title>
</head>

<body>
  <!-- Header -->
  <%- include('partials/header') %>
  <!-- /Header -->

  <!-- Navbar -->
  <%- include('partials/nav-user') %>
  <!-- /Navbar -->

  <main>
    <div class="container">
      <form action="/products/create" method="POST" enctype="multipart/form-data" id="createForm">
        <div class="row">
          <div class="col-12 margin-col">
            <h2 id="title">Agregar un producto</h2>
            <p class="title-p display-md-none">
              Agregue las caracteristicas de su producto. Podra editarlo las
              veces que sea necesario.
            </p>
            <p class="p-datos">
              * Campos obligatorios
            </p>
          </div>
          <div class="col-12 errors">
            <% if( typeof errors != 'undefined') { %>
            <p class="error-msg">Errores que hemos detectado al momento de llenar el formulario:</p>
            <ul>
              <% for (let i=0; i<errors.length; i++) {%>
              <li>
                <%= errors[i].msg %>
              </li>
              <% } %>
            </ul>
            <% } %>
          </div>
          <div class="col-12 col-sm-6 margin-col">
            <label for="productName">Nombre del Producto *</label>
            <input type="text" class="form-control" placeholder="Nombre del Producto" name="productName"
              id="productName" />
            <p class="errorMsg" id="nameEmptyMsg">
              El nombre del producto no puede estar vacío
            </p>
            <p class="errorMsg" id="nameShortMsg">
              El nombre debe tener al menos 3 caracteres
            </p>
          </div>
          <div class="col-12 col-sm-6 margin-col">
            <label for="price">Precio *</label>
            <input type="number" class="form-control" placeholder="Precio" name="price" id="price" />
            <p class="errorMsg" id="priceEmptyMsg">Debe ingresar un precio</p>
          </div>

          <div class="col-12 margin-col">
            <div class="form-group">
              <label for="productImg">Subir Imágenes *</label>
              <input type="file" class="form-control-file" id="productImg" name="productImg" multiple />
            </div>
          </div>

          <div class="col-12 col-sm-6 margin-col">
            <label for="thematic">Familia de Producto *</label>
            <select class="form-control" name="thematic" id="thematic">
              <option value="default" selected disabled hidden>Seleccioná la categoría del producto</option>
              <% for (let category of categories) { %>
              <option value="<%= category.id %>">
                <%= category.name %>
              </option>
              <% } %>
            </select>
            <p class="errorMsg" id="thematicEmptyMsg">
              Debes seleccionar una categoría
            </p>
          </div>

          <div class="col-12 col-sm-6 margin-col">
            <label for="brand">Marcas *</label>
            <select class="form-control" name="brand" id="brand">
              <option value="default" selected disabled hidden>Seleccioná la marca</option>
              <% for (let brand of brands) { %>
              <option value="<%= brand.id %>"> <%= brand.name %> </option>
              <% } %>
            </select>
            <p class="errorMsg" id="brandEmptyMsg">
              Debe seleccionar una marca
            </p>
          </div>

          <div class="col-12 col-sm-6 margin-col">
            <label for="discountNumber">Oferta<span class="descuento">(de 0 a 100)</span></label>
            <input class="form-control" placeholder="Porcentaje" value="0" type="number" min="0" max="100"
              id="discountNumber" name="discount" />
          </div>

          <div class="col-12 margin-col">
            <label for="etiqueta">Etiqueta</label>
            <% for (let tag of tags) { %>
            <div class="col-2 custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="<%= tag.name %>" name="etiqueta"
                value="<%= tag.name %>" />
              <label class="custom-control-label" for="<%= tag.name %>"><%= tag.name %></label>
            </div>
            <% } %>
          </div>

          <div class="col-sm-6 none-cell margin-col">
            <label for="description">Descripcion del Producto *</label><br />
            <p class="errorMsg" id="descriptionEmptyMsg">
              Debe ingresar una descripción del producto
            </p>
            <p class="errorMsg" id="descriptionShortMsg">
              La descripción debe tener al menos 20 caracteres
            </p>
            <textarea class="form-control" name="description" id="description" cols="35" rows="3" maxlength="300"
              placeholder="300 caracteres maximo"></textarea>
          </div>

          <div class="col-sm-6 none-cell margin-col">
            <label for="ingredients">Ingredientes</label><br />
            <p class="errorMsg" id="ingredientsEmptyMsg">
              Este campo no puede estar vacío
            </p>
            <p class="errorMsg" id="ingredientsShortMsg">
              Ingrese al menos 20 caracteres
            </p>
            <textarea class="form-control" name="ingredients" id="ingredients" cols="35" rows="3" maxlength="300"
              placeholder="300 caracteres maximo"></textarea>
          </div>

          <div class="col-sm-6 none-cell margin-col">
            <label for="returnPolitic">Politicas de Devolucion</label><br />
            <p class="errorMsg" id="returnPolEmptyMsg">
              Este campo no puede estar vacío
            </p>
            <p class="errorMsg" id="returnPolShortMsg">
              Ingrese al menos 20 caracteres
            </p>
            <textarea class="form-control" name="returnPolitic" id="returnPolitic" cols="35" rows="3" maxlength="300"
              placeholder="300 caracteres maximo"></textarea>
          </div>

          <div class="col-sm-6 none-cell margin-col">
            <label for="shipping">Informacion de Envio</label><br />
            <p class="errorMsg" id="shippingEmptyMsg">
              Este campo no puede estar vacío
            </p>
            <p class="errorMsg" id="shippingShortMsg">
              Ingrese al menos 20 caracteres
            </p>
            <textarea class="form-control" name="shipping" id="shipping" cols="35" rows="3" maxlength="300"
              placeholder="300 caracteres maximo"></textarea>
          </div>


          <div class="col-12 none-cell margin-col envios">
            <div class="col-12">
              <h5><span>Envios</span></h5>
            </div>
            <div class="col-sm-6">
              <label for="weight">Peso:</label>
              <input type="number" class="form-control" placeholder="kilogramos" name="weight" id="weight" />
              <p class="errorMsg" id="weightEmptyMsg">
                Este campo no puede estar vacío
              </p>
            </div>
            <div class="col-sm-6 margin-dimension">
              <p class="p-dimension">Dimensiones:</p>
              <label for="height"></label>
              <input type="number" class="form-control form-margin" placeholder="Alto (mm)" name="height" id="height" />
              <p class="errorMsg" id="heightEmptyMsg">
                Este campo no puede estar vacío
              </p>
              <label for="width"></label>
              <input type="number" class="form-control form-margin" placeholder="Ancho (mm)" name="width" id="width" />
              <p class="errorMsg" id="widthEmptyMsg">
                Este campo no puede estar vacío
              </p>
              <label for="length"></label>
              <input type="number" class="form-control form-margin" placeholder="Largo (mm)" name="length"
                id="length" />
              <p class="errorMsg" id="lengthEmptyMsg">
                Este campo no puede estar vacío
              </p>
            </div>
          </div>

          <div class="col-12 d-flex justify-content-end mg-button div-buttons">
            <button type="button" class="btn btn-secondary btn-sm button-margin">
              Guardar Borrador
            </button>
            <button id="submitBtn" type="submit" class="btn btn-primary btn-sm button-margin">
              Publicar
            </button>
          </div>
        </div>
      </form>
    </div>
  </main>

  <!-- Footer -->
  <%- include("partials/footer") %>
  <!-- /Footer -->
</body>
</html>