<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/userDetail.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/userEdit.css" />
    <script defer src="/js/userEditValidator.js"></script>
    <title>Detalle de Usuario</title>
</head>

<body>
    <%- include('partials/header') %>

    <%- include('partials/nav-user') %>

    <div class="container">
        <div class="row">
            <div class="col-12 containter">
                <form id="contact-form-edit" method="POST" action="/users/edit/<%= user.id %>?_method=PUT" enctype="multipart/form-data">
                    <label for="firstName">Nombre</label>
                    <input class="form-control mb-3" type="text" id="firstName" name="firstName"
                        value="<%= user.firstName %>" />
                    <div class="firstName invalid-feedback"></div>

                    <label for="lastName">Apellido</label>
                    <input class="form-control mb-3" type="text" id="lastName" name="lastName"
                        value="<%= user.lastName %>" />
                    <div class="lastName invalid-feedback"></div>

                    <label for="email">Direccion de correo electronico</label>
                    <input type="email" class="form-control mb-3" id="email" name="email" value="<%= user.email %>" />
                    <div class="email invalid-feedback"></div>

                    <div class="custom-file">
                        <input type="file" class="custom-file-input mb-3" id="avatar" name="avatar" lang="es" />
                        <label class="custom-file-label" for="avatar">Modificar foto de perfil</label>
                        <div class="avatar invalid-feedback"></div>
                    </div>
                    <br>
                    <br>
                    <button type="submit" class="mb-3 btn btn-pink btn-block">
                        ¡Grabar!
                    </button>

                </form>
            </div>
        </div>
    </div>


    <%- include("partials/footer") %>
</body>

</html>