<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/userDetail.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/userEdit.css" />
    <link rel="stylesheet" href="/css/userEditPassword.css" />
    <script defer src="/js/userEditPasswordValidator.js"></script>
    <title>Detalle de Usuario</title>
</head>

<body>
    <%- include('partials/header') %>

    <%- include('partials/nav-user') %>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Editar Contraseña</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form id="contact-form-password" method="POST" action="/users/editpassword/<%= user.id %>?_method=PUT">

                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control mb-3" id="password" name="password" />
                    <div class="password invalid-feedback"></div>

                    <label for="rePassword">Confirmar Contraseña</label>
                    <input type="password" class="form-control mb-3" id="rePassword" name="rePassword" />
                    <div class="rePassword invalid-feedback"></div>

                    <button type="submit" class="btn btn-pink btn-block mb-3">
                        ¡Grabar!
                    </button>

                </form>

            </div>

        </div>
    </div>


    <%- include("partials/footer") %>
</body>

</html>